<div id="header">
  <span id="header-title"> Задачи </span>
  <button id = "add-todo-button">+</button>
</div>
<div class="container">
  <div class="row">
<% @projects.each do |project| %>
<div class=" project-wrapper col-s-12 col-md-6 col-lg-4">
<div id="project-card">
  <div id="project-title"><span><%=project.title%></span></div>
<ul>
  <% project.todos.each do |todo| %>
  <li>
    <%= form_with scope: :todo, local: true, url: {controller: "todo", action: "update", id: todo.id}, method: 'put', class: "todo-checkbox-form" do |f| %>
     <span>
        <% if todo.isCompleted %>
          <input type = 'checkbox' checked class="todo-checkbox">
          <del class = 'todo-text'> <%= todo.text %></del>
        <% else %>
          <input type = 'checkbox' class="todo-checkbox">
          <span class = 'todo-text'><%=todo.text%></span>
        <% end %>
     </span>
    <% end %>
  </li>
  <% end %>
</ul>
</div>
</div>
<% end %>
</div>
</div>

<div id="popup-background">
  <%= form_with scope: :todo, local: true, url: {controller: "todo", action: "create"}, id: "new-todo-form" do |r| %>
<p id="popup-title">Добавить задачу</p>
<div id="new-todo-form-box">
    <%= r.text_field :text, placeholder: "Введите текст задачи", id: "new-todo-form-input" %>
    <p>
    <%= r.select :project_id, options_for_select(@projects.collect{|p| [p.title, p.id]}), {}, { :class => 'select2-selection' } %>
  </p>
   <p>
   <%= link_to 'ОТМЕНА', "/", id: "hide_form_button" %>
    <%= link_to 'ОК', "/", id: "ok_submit_link" %>
   </p>
 </div>
   <% end %>
</div>
