<div id="header">
  <h1 id="header-title"> Задачи </h1>
</div>
<div class="container">
  <div class="row">
<% @projects.each do |project| %>
<div class="col-s-12 col-md-6 col-lg-4">
<div id="project-card">
  <div id="project-title">
<h1><%=project.title%></h1>
</div>
  <% project.todos.each do |todo| %>
    <ul>
      <input type="checkbox" <%= if todo.isCompleted then "checked" end %>
      <li><span class="todo-text"><%=todo.text%></span></li>
    </ul>
  <% end %>
</div>
</div>
<% end %>
</div>
</div>

<button id="show_form_button">+</button>

<%= form_for @todo do |r| %>
<p>
  <%= r.text_field :text %>
</p>
  <p> <%= select(:todo, :project_id, [['Семья', 1], ['Работа', 2], ['Прочее', 3]]) %> </p>
 <p>
 <%= link_to 'ОТМЕНА', "", id: "hide_form_button" %>
  <%= link_to 'ОК', "", id: "ok_submit_link" %>

 </p>

<% end %>
