<!DOCTYPE html>
<html>
  <head>
    <title>Tasktracker</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'vendor/bootstrap' %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
